In [7]:
from collections import namedtuple
Employee=namedtuple('Employee',['name','age','country'])
def main():
    try:
        employees=[
            Employee('Pawan Yadav',23,'India'),
            Employee('Pankaj Yadav',25,'India'),
            Employee('Prince Yadav',4,'India'),
            Employee('Ayush Thakur',22,'India')
        ]
        for i in employees:
            print('Employee Name: ',i.name)
            print('Employee Country: ',i.country)
            print()
    except Exception as e:
        print('An error Occured:',e)
main()

Employee Name:  Pawan Yadav
Employee Country:  India

Employee Name:  Pankaj Yadav
Employee Country:  India

Employee Name:  Prince Yadav
Employee Country:  India

Employee Name:  Ayush Thakur
Employee Country:  India

In [18]:
from collections import namedtuple
points=namedtuple('points',['x','y','z'])
def main():
    try:
        point=[
            points(22,35,45),
            points(15,14,19)
        ]
        for i in point:
            print('X: ',i.x),
            print('Y: ',i.y),
            print('Z: ',i.z)
    except Exception as e:
        print('An error Occured:',e)
main()

X:  22
Y:  35
Z:  45
X:  15
Y:  14
Z:  19

In [39]:
from collections import namedtuple as n
Prices=n('Prices',['x','y','z','a','b','c'])
def main():
    try:
        price=[Prices(280,300,520,100,90,100)]
        for i in price:
            pass
        food={
            'Momos':i.b,
            'Gazar Ka Halwa':i.z,
            'Gulab Jamun':i.x,
            'Kala Jamun':i.y,
            'Veg Biryani':i.a,
            'Mountain Due':i.c
            }
        for f,j in food.items():
            print(f"Food: {f}, Price: ${j:.2f}")
    except Exception as e:
        print('An error Occured:',e)
main()
#################################################################
print('...........................................................')
from collections import namedtuple
Food = namedtuple("Food", ["name", "price"])
food1 = Food("Pizza", 11.90)
food2 = Food("Burger", 7.45)
food3 = Food("Salad", 5.45)
food_dict = {
    food1.name: food1,
    food2.name: food2,
    food3.name: food3
}
for food_name, food_info in food_dict.items():
    print(f"Food: {food_name}, Price: ${food_info.price:.2f}")

Food: Momos, Price: $90.00
Food: Gazar Ka Halwa, Price: $520.00
Food: Gulab Jamun, Price: $280.00
Food: Kala Jamun, Price: $300.00
Food: Veg Biryani, Price: $100.00
Food: Mountain Due, Price: $100.00
...........................................................
Food: Pizza, Price: $11.90
Food: Burger, Price: $7.45
Food: Salad, Price: $5.45

In [79]:
from collections import namedtuple as n
Students=n('Students',['name','age','Class','marks'])
i=[Students('Pawan Yadav',16,'10th',['English:',76,'Hindi:',76,'Social Science:',76,'Maths:',85,'Science:',85]),
   Students('Pawan Yadav',19,'12th',['English:',67,'Hindi:',64,'Physics:',58,'Maths:',48,'Chemistry:',50]),
   Students('Pawan Yadav',23,'B-Tech',['Sem 1:',61.7,'Sem 2:',70.3,'Sem 3:',82.5,'Sem 4:',85,'Sem 5:',82.1,'Sem 6:',81.3,'Sem 7:',73.8,'Sem 8:',78.3])
  ]
for s in i:
    print('.......................................')
    print('Name:',s.name)
    print('Age:',s.age)
    print('Class:',s.Class)
    print("Marks:",s.marks)
    print("Total Marks:",sum(s.marks[1::2]))
    print('Percentage:',(sum(s.marks[1::2])*100)/500,'%')
    print('.......................................')

.......................................
Name: Pawan Yadav
Age: 16
Class: 10th
Marks: ['English:', 76, 'Hindi:', 76, 'Social Science:', 76, 'Maths:', 85, 'Science:', 85]
Total Marks: 398
Percentage: 79.6 %
.......................................
.......................................
Name: Pawan Yadav
Age: 19
Class: 12th
Marks: ['English:', 67, 'Hindi:', 64, 'Physics:', 58, 'Maths:', 48, 'Chemistry:', 50]
Total Marks: 287
Percentage: 57.4 %
.......................................
.......................................
Name: Pawan Yadav
Age: 23
Class: B-Tech
Marks: ['Sem 1:', 61.7, 'Sem 2:', 70.3, 'Sem 3:', 82.5, 'Sem 4:', 85, 'Sem 5:', 82.1, 'Sem 6:', 81.3, 'Sem 7:', 73.8, 'Sem 8:', 78.3]
Total Marks: 615.0
Percentage: 123.0 %
.......................................

In [69]:
from collections import namedtuple
Item = namedtuple("Item", ["name", "price"])
def get_item_info(item):
    return item.name, item.price
items = [
    Item(name="Mobile", price=300.00),
    Item(name="Desktop", price=1500.00),
    Item(name="Laptop", price=1200.00)
]
for item in items:
    item_name, item_price = get_item_info(item)
    print("Item Name:", item_name)
    print("Item Price:", item_price)
    print()

Item Name: Mobile
Item Price: 300.0

Item Name: Desktop
Item Price: 1500.0

Item Name: Laptop
Item Price: 1200.0

In [82]:
from collections import namedtuple as n
Students=n('Students',['name','age','Class','marks'])
i=[Students('Pawan Yadav',16,'10th',['English:',76,'Hindi:',76,'Social Science:',76,'Maths:',85,'Science:',85]),
   Students('Pawan Yadav',19,'12th',['English:',67,'Hindi:',64,'Physics:',58,'Maths:',48,'Chemistry:',50]),
  ]
for s in i:
    print('.......................................')
    print('Name:',s.name)
    print('Age:',s.age)
    print('Class:',s.Class)
    print("Marks:",s.marks)
    print("Average Grade:",sum(s.marks[1::2])/len(s.marks[1::2]))
    print('.......................................')

.......................................
Name: Pawan Yadav
Age: 16
Class: 10th
Marks: ['English:', 76, 'Hindi:', 76, 'Social Science:', 76, 'Maths:', 85, 'Science:', 85]
Average Grade: 79.6
.......................................
.......................................
Name: Pawan Yadav
Age: 19
Class: 12th
Marks: ['English:', 67, 'Hindi:', 64, 'Physics:', 58, 'Maths:', 48, 'Chemistry:', 50]
Average Grade: 57.4
.......................................

In [85]:
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
Circle = namedtuple('Circle', ['radius', 'center'])
center = Point(x=4, y=4)  # Center at (0, 0)
circle_instance = Circle(radius=5, center=center)
print("Circle:-")
print("Radius:", circle_instance.radius)
print("Center:", circle_instance.center)
print("Value of x-coordinate:", circle_instance.center.x)
print("Value of y-coordinate", circle_instance.center.y)

Circle:-
Radius: 5
Center: Point(x=4, y=4)
Value of x-coordinate: 4
Value of y-coordinate 4

In [86]:
from collections import namedtuple
import math
Triangle = namedtuple('Triangle', ['side1', 'side2', 'side3'])
def triangle_area(triangle):
    print("Sides of the triangle:",triangle.side1,',',triangle.side2,',',triangle.side3)
    s = (triangle.side1 + triangle.side2 + triangle.side3) / 2
    area = math.sqrt(s * (s - triangle.side1) * (s - triangle.side2) * (s - triangle.side3))
    return area
triangle_instance = Triangle(side1=4, side2=5, side3=7)
area = triangle_area(triangle_instance)
print("Triangle Area:", area)

Sides of the triangle: 4 , 5 , 7
Triangle Area: 9.797958971132712

In [87]:
from collections import namedtuple
Engine = namedtuple('Engine', ['type', 'cylinders'])
Car = namedtuple('Car', ['make', 'model', 'year', 'engine'])
engine_instance = Engine(type='1.5L', cylinders=4)
car_instance = Car(make='Honda', model='City', year=2020, engine=engine_instance)
print("Car Make:", car_instance.make)
print("Car Model:", car_instance.model)
print("Car Year:", car_instance.year)
print("Car Engine Type:", car_instance.engine.type)
print("Car Engine Cylinders:", car_instance.engine.cylinders)

Car Make: Honda
Car Model: City
Car Year: 2020
Car Engine Type: 1.5L
Car Engine Cylinders: 4