In [26]:
x=[]
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        x.append(i)
print(x)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [14]:
for x in range(2):
    x=(input('Enter Temperature you want to convert in "C" and "F":-'))
    z=int(x[:-1])
    y=x[-1]
    if y.upper()=='C':
        r=(((9*z)/5)+32)
        convention = "Fahrenheit"
        d='Â°F'
    elif y.upper()=='F':
        r=((5/9)*(z-32))
        convention = "Celsius"
        d='Â°C'
    else:
        print('Input proper convention')
    print("The temperature in",convention,"is:-", int(r),d,'.')

Enter Temperature you want to convert in "C" and "F":- 45f

The temperature in Celsius is:- 7 Â°C .

Enter Temperature you want to convert in "C" and "F":- 60c

The temperature in Fahrenheit is:- 140 Â°F .

In [4]:
import random
x=t,g=random.randint(1,10),0
while t!=g:
    g=int(input('Enter to guess a number:-'))
print('Well Guessed!')

Enter to guess a number:- 1
Enter to guess a number:- 5
Enter to guess a number:- 2
Enter to guess a number:- 2
Enter to guess a number:- 1
Enter to guess a number:- 3
Enter to guess a number:- 1
Enter to guess a number:- 4
Enter to guess a number:- 6
Enter to guess a number:- 5
Enter to guess a number:- 7

Well Guessed!

In [2]:
n=5
for i in range(n):
    for j in range(i):
        print('*  ',end='')
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('*  ',end='')
    print('')

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [4]:
x=input('Enter a word:-')
print(x[::-1])

Enter a word:- vadaY nawaP

Pawan Yadav

In [12]:
x=(1, 2, 3, 4, 5, 6, 7, 8, 9)
y=[]
z=[]
for i in x:
    if i%2==0:
        y.append(i)
    elif i%2!=0:
        z.append(i)
print('Number of even numbers is:-', len(y)) 
print('Number of Odd numbers is:-', len(z))

Number of even numbers is:- 4
Number of Odd numbers is:- 5

In [13]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for i in datalist:
    print(i,':-', type(i))

1452 :- <class 'int'>
11.23 :- <class 'float'>
(1+2j) :- <class 'complex'>
True :- <class 'bool'>
w3resource :- <class 'str'>
(0, -1) :- <class 'tuple'>
[5, 12] :- <class 'list'>
{'class': 'V', 'section': 'A'} :- <class 'dict'>

In [22]:
for i in range(6):
    if i ==3:
        continue
    print(i,end='  ')

0  1  2  4  5

In [2]:
x,y=0,1
while y<50:
    print(y,end='  ')
    x,y=y,x+y

1  1  2  3  5  8  13  21  34

In [11]:
for i in range(51):
    if i%3==0 and i%5==0:
        print('fizzbuzz',end='  ')
    elif i%3==0:
        print('Fizz',end='  ')
    elif i%5==0:
        print('Buzz',end='  ')
    else:
        print(i,end='  ')

fizzbuzz  1  2  Fizz  4  Buzz  Fizz  7  8  Fizz  Buzz  11  Fizz  13  14  fizzbuzz  16  17  Fizz  19  Buzz  Fizz  22  23  Fizz  Buzz  26  Fizz  28  29  fizzbuzz  31  32  Fizz  34  Buzz  Fizz  37  38  Fizz  Buzz  41  Fizz  43  44  fizzbuzz  46  47  Fizz  49  Buzz

In [19]:
m=int(input('Rows:- '))
n=int(input('Column:- '))
x=[[0 for j in range(n)]for i in range(m)]
for i in range(0,m):
    for j in range(0,n):
        x[i][j]=i*j
print(x)

Rows:-  3
Column:-  4

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [22]:
x=[]
while True:
    l=input()
    if l:
        x.append(l.upper())
    else:
        break
for i in x:
    print(i,end=' ')

 pawan
 yadav
 yaduvanshi

PAWAN YADAV YADUVANSHI

In [77]:
items = []
num = [x for x in input().split(' ')]
for p in num:
    x = int(p, 2)
    if not x % 5:
        items.append(p)
print(','.join(items))

 0001 0010 0011 0100 0101 0110 0111

0101

In [84]:
x=input('Enter a string:-')
y=[j for j in x if j.isalpha()]
z=[i for i in x if i.isdigit()]
print('Letters:- ',len(y))
print('Digits:- ',len(z))

Enter a string:- w3resource

Letters:-  9
Digits:-  1

In [112]:
import re
x=input('Enter a Password length (6-8) and including small,capital,digit,special character:-')
z=True
while z:
    if (len(x) <6 or len(x) >8):
        break
    elif not re.search('[a-z]',x):
        break
    elif not re.search('[0-9]',x):
        break
    elif not re.search('[A-Z]',x):
        break
    elif not re.search('[$#@]',x):
        break
    elif re.search('\s',x):
        break
    else:
        print('Password is strong!ðŸ‘')
        x=False
        break
if x:
    print('Enter a Vaild password!')

Enter a Password length (6-8) and including small,capital,digit,special character:- Pa2#Pa2*

Password is strong!ðŸ‘

In [123]:
x=[]
for i in range(100,401):
    s=str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        x.append(s)
print(','.join(x))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [165]:
print('  ',end='')
for i in range(3):
    print('*',end='')
print('')
for j in range(2):
    print(' *   *',sep='')
print(' ',end='')
for i in range(5):
    print('*',end='')
print('')
for j in range(3):
    print(' *   *',sep='')
#################################################################
print(".................................................................")
r=''
for i in range(0,7):
    for j in range(0,7):
        if (((j==1 or j==5) and i!=0) or ((i==0 or i==3)and(j>1 and j<5))):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *
.................................................................
  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [236]:
print(' ',end='')
for i in range(4):
    print('*',end='')
print('')
for j in range(5):
    print(' *   *')
print(' ',end='')
for i in range(4):
    print('*',end='')
print('')
#################################################################
print(".................................................................")
r=''
for i in range(0,7):
    for j in range(0,7):
        if (j==1 or ((i==0 or i==6) and (j>1 and j<5)) or (j==5 and i!=0 and i!=6)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****
.................................................................
 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [15]:
for i in range(5):
    print('*',end='')
print('')
for j in range(2):
    print('*',sep='')
for i in range(4):
    print('*',end='')
print('')
for j in range(2):
    print('*',sep='')
for i in range(5):
    print('*',end='')
#################################################################
print(".................................................................")
r=''
for i in range(0,7):
    for j in range(0,7):
        if (j==1 or ((i==0 or i==6) and (j>1 and j<6)) or (i==3 and j>1 and j<5)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

*****
*
*
****
*
*
*****.................................................................
 *****
 *
 *
 ****
 *
 *
 *****

In [22]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if ((j == 1 and i != 0 and i != 6) or ((i == 0 or i == 6) and j > 1 and j < 5) or (i== 3 and j > 2 and j < 6) or (j== 5 and i != 0 and i != 2 and i != 6)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***

In [32]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if (j==1 or (i==6 and j!=0 and j<6)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

 *
 *
 *
 *
 *
 *
 *****

In [70]:
r=''
for i in range(0,7):
    for j in range(0,8):
        if (j==1 or (i==2 and j!=0 and j!=4 and j>1 and j<6 and j!=2 )or j==7) or (i==3 and j==4):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)
#################################################################
print(".................................................................")
r=''
for i in range(0,7):
    for j in range(0,8):
        if (j==1 or j==5 or (i==2 and (j==2 or j==4)) or (i==3 and j==3)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

 *     *
 *     *
 * * * *
 *  *  *
 *     *
 *     *
 *     *

.................................................................
 *   *
 *   *
 ** **
 * * *
 *   *
 *   *
 *   *

In [82]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if ((i!=0 and (j==1 or j==5) and i!=6) or ((i == 0 or i == 6) and j > 1 and j < 5)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

  ***
 *   *
 *   *
 *   *
 *   *
 *   *
  ***

In [107]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if (((i == 0 or i==3) and j > 1 and j < 5) or j==1 or ((i==1 or i==2) and j==5)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

 ****
 *   *
 *   *
 ****
 *
 *
 *

In [114]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if (((i == 0 or i==3) and j > 1 and j < 5) or j==1 or ((i==1 or i==2) and j==5) or (i==6 and j==5) or (i==5 and j==4) or (i==4 and j==3)):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

 ****
 *   *
 *   *
 ****
 * *
 *  *
 *   *

In [181]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if (i==0 and j>2 and j<7) or ((i==1 or i==2) and j==1) or (i==3 and j>2 and j<6) or ((i>3 and i<6) and j==6) or (i==6 and j>1 and j<6):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)
#################################################################
print(".................................................................")
r=''
for i in range(17):
    for j in range(19):
        if ((i>0 and i<4) and j>0 and j<19 or (i>3 and i<7) and j>0 and j<5 or (i>6 and i<11) and j>0 and j<19 or (i>10 and i<14) and j>14 and j<19 or (i>13 and i<17) and j>0 and j<19):
            r=r+'0'
        else:
            r=r+' '
    r=r+'\n'
print(r)

   ****
 *
 *
   ***
      *
      *
  ****

.................................................................

 000000000000000000
 000000000000000000
 000000000000000000
 0000
 0000
 0000
 000000000000000000
 000000000000000000
 000000000000000000
 000000000000000000
               0000
               0000
               0000
 000000000000000000
 000000000000000000
 000000000000000000

In [200]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if (i==0 and j>0 and j<6) or j==3:
            r=r+' * '
        else:
            r=r+'   '
    r=r+'\n'
print(r)

    *  *  *  *  *
          *
          *
          *
          *
          *
          *

In [226]:
r=''
for i in range(0,8):
    for j in range(0,7):
        if (i==7 and j>1 and j<5) or (i!=7) and j==0 or i!=7 and j==6:
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

*     *
*     *
*     *
*     *
*     *
*     *
*     *
  ***

In [260]:
r=''
for i in range(0,7):
    for j in range(0,5):
        if (i>=0 and i<=1) and (j==0 or j==4) or (i==2 and (j==1 or j==3)) or (i>=5 and i<=7) and (j==0 or j==4) or (i==4 and (j==1 or j==3)) or (i==3 and j==2):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

*   *
*   *
 * *
  *
 * *
*   *
*   *

In [274]:
r=''
for i in range(0,7):
    for j in range(0,7):
        if (i==0 or i==6) or (j>=0 and j<=6) and j+i==6:
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

*******
     *
    *
   *
  *
 *
*******

In [303]:
r=''
for i in range(0,7):
    for j in range(0,12):
        if (i==0 and j==0 or i==1 and j==1 or i==2 and j==2 or i==3 and j==3 or i==4 and j==4 or i==5 and j==6) or (i==0 and j==11 or i==1 and j==10 or i==2 and j==9 or i==3 and j==8 or i==4 and j==7):
            r=r+'*'
        else:
            r=r+' '
    r=r+'\n'
print(r)

*          *
 *        *
  *      *
   *    *
    *  *
      *

In [323]:
x=int(input('Enter dog age in human year:-'))
if x==2:
    print('The dog age in dog years is :-',int(x*10.5))
elif x>2:
    print('The dog age in dog years is :-',(int(((x-2)*4)+10.5*2)))

Enter dog age in human year:- 15

The dog age in dog years is :- 73

In [334]:
x=input('Enter a letter of the alphabet:-')
if x.lower() in ('aeiou'):
    print(x,'is a Vowel Letter!')
else:
    print(x,'is a Consonant Letter!')

Enter a letter of the alphabet:- K

K is a Consonant Letter!

In [347]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
y=input('Enter the name of Month:-')
if y.lower() in ('january','march', 'may', 'july', 'august','october','december' ):
    print(y.upper(),'have:- 31 days')
elif y.lower() in ('april','june','september','november'):
    print(y.upper(),'have:- 30 days')
elif y.lower() in ('february'):
    print(y.upper(),'have:- 28/29 days')
else:
    print('Enter a Vaild Month Name!')

List of months: January, February, March, April, May, June, July, August, September, October, November, December

Enter the name of Month:- may

MAY have:- 31 days

In [355]:
x=eval(input('Enter a number:-'))
y=eval(input('Enter a number:-'))
z=x+y
if z in range(15,21):
    print(20)
else:
    print(z)

Enter a number:- 15
Enter a number:- 5

20

In [360]:
x=input('Enter a string:-')
if x.isalpha():
    print('The string is not an integer!')
elif x.isdigit():
    print('The string is an integer!')
elif x.isalnum():
    print('The string is contain both alphbet an integer!')

Enter a string:- python

The string is not an integer!

In [372]:
a=int(input('a:-'))
b=int(input('b:-'))
c=int(input('c:-'))
if a==b==c:
    print('The triangle is :- Equilateral Triangle')
elif (a==c) or (a==b) or (b==c):
    print('The triangle is :- Isosceles Triangle')
else:
    print('The triangle is :- Scalene Triangle')

a:- 6
b:- 8
c:- 12

The triangle is :- Scalene Triangle

In [383]:
x=input('Enter month name:-')
y=int(input('Enter month days :-'))
if x in ('december','january','february'):
    Season = 'Winter!'
elif x in ('march', 'april','may','june'):
    Season ='Summer!'
elif x in ('july','august'):
    Season ='Autumn!'
elif x in ('september','october','november'):
    Season ='Spring!'
else:
    print('Enter a Vaild Month Name!')
if (x == 'march') and (y < 19):
    Season = 'Winter!'
elif (x == 'june') and (y < 20):
    Season = 'Summer!'
elif (x == 'september') and (y < 21):
    Season = 'Autumn!'
elif (x == 'december') and (y < 20):
    Season = 'Spring!'
print("Season is", Season)

Enter month name:- september
Enter month days :- 19

Season is Autumn!

In [403]:
x=input('Enter birthday month name:-')
y=int(input('Enter birthday date :-'))
if x=='march':
    sign='Pisces' if (y<21) else 'Aries'
elif x=='april' :
    sign='Aries' if (y<20) else 'Taurus'
elif x=='may':
    sign='Taurus' if (y<21) else 'Gemini'
elif x=='june':
    sign='Gemini' if (y<22) else 'Cancer'
elif x=='july':
    sign='Cancer' if (y<23) else 'Leo'
elif x=='august':
    sign='Leo' if (y<23) else 'Virgo'
elif x=='september':
    sign='Virgo' if (y<23) else 'Libra'
elif x=='october':
    sign='Libra' if (y<24) else 'Scorpius'
elif x=='november':
    sign='Scorpius' if (y<22) else 'Sagittarius'
elif x=='december':
    sign='Sagittarius' if (y<22) else 'Capricorn'
elif x=='january':
    sign='Capricorn' if (y<20) else 'Aquarius'
elif x=='february':
    sign='Aquarius' if (y<19) else 'Pisces'
print('Your Astrological sign is :',sign)

Enter birthday month name:- august
Enter birthday date :- 22

Your Astrological sign is : Leo

In [407]:
x=int(input('Enter your birth year:-'))
if x in (1924, 1936, 1948, 1960, 1972, 1984, 1996, 2008, 2020):
    sign='Rat'
elif x in (1925, 1937, 1949, 1961, 1973, 1985, 1997, 2009, 2021):
    sign='Ox'
elif x in (1926, 1938, 1950, 1962, 1974, 1986, 1998, 2010, 2022):
    sign='Tiger'
elif x in (1927, 1939, 1951, 1963, 1975, 1987, 1999, 2011, 2023):
    sign='Rabbit'
elif x in (1928, 1940, 1952, 1964, 1976, 1988, 2000, 2012, 2024):
    sign='Dragon'
elif x in (1929, 1941, 1953, 1965, 1977, 1989, 2001, 2013, 2025):
    sign='Snake'
elif x in (1930, 1942, 1954, 1966, 1978, 1990, 2002, 2014, 2026):
    sign='Horse'
elif x in (1931, 1943, 1955, 1967, 1979, 1991, 2003, 2015, 2027):
    sign='Goat'
elif x in (1932, 1944, 1956, 1968, 1980, 1992, 2004, 2016, 2028):
    sign='Monkey' 
elif x in (1933, 1945, 1957, 1969, 1981, 1993, 2005, 2017, 2029):
    sign='Rooster' 
elif x in (1934, 1946, 1958, 1970, 1982, 1994, 2006, 2018, 2030):
    sign='Dog' 
elif x in (1935, 1947, 1959, 1971, 1983, 1995, 2007, 2019, 2031):
    sign='Pig' 
print('Your Zodiac sign :- ',sign)

Enter your birth year:- 1973

Your Zodiac sign :-  Ox

In [409]:
# Request input from the user for the birth year and convert it to an integer, assigning it to the variable 'year'
year = int(input("Input your birth year: "))

# Determine the Chinese zodiac sign based on the provided birth year

# Check if the year corresponds to the Chinese zodiac sign 'Dragon'
if (year - 2000) % 12 == 0:
    sign = 'Dragon'
# Check if the year corresponds to the Chinese zodiac sign 'Snake'
elif (year - 2000) % 12 == 1:
    sign = 'Snake'
# Check if the year corresponds to the Chinese zodiac sign 'Horse'
elif (year - 2000) % 12 == 2:
    sign = 'Horse'
# Check if the year corresponds to the Chinese zodiac sign 'Sheep'
elif (year - 2000) % 12 == 3:
    sign = 'Sheep'
# Check if the year corresponds to the Chinese zodiac sign 'Monkey'
elif (year - 2000) % 12 == 4:
    sign = 'Monkey'
# Check if the year corresponds to the Chinese zodiac sign 'Rooster'
elif (year - 2000) % 12 == 5:
    sign = 'Rooster'
# Check if the year corresponds to the Chinese zodiac sign 'Dog'
elif (year - 2000) % 12 == 6:
    sign = 'Dog'
# Check if the year corresponds to the Chinese zodiac sign 'Pig'
elif (year - 2000) % 12 == 7:
    sign = 'Pig'
# Check if the year corresponds to the Chinese zodiac sign 'Rat'
elif (year - 2000) % 12 == 8:
    sign = 'Rat'
# Check if the year corresponds to the Chinese zodiac sign 'Ox'
elif (year - 2000) % 12 == 9:
    sign = 'Ox'
# Check if the year corresponds to the Chinese zodiac sign 'Tiger'
elif (year - 2000) % 12 == 10:
    sign = 'Tiger'
# If the year doesn't correspond to any specific sign, assign it to 'Hare'
else:
    sign = 'Hare'

# Display the determined Chinese zodiac sign based on the provided birth year
print("Your Zodiac sign :", sign)

Input your birth year:  2000

Your Zodiac sign : Dragon

In [423]:
a=int(input('a:-'))
b=int(input('b:-'))
c=int(input('c:-'))
if a>b and a<c:
    print('The median is:- ',float(a))
elif b>a and b<c:
    print('The median is:- ',float(b))
elif c>a and c<b:
    print('The median is:- ',float(c))

a:- 25
b:- 55
c:- 65

The median is:-  55.0

In [432]:
y=int(input('Enter a Year:-'))
if (y % 400)==0:
    leap_year=True
elif (y % 100)==0:
    leap_year=False
elif (y%4)==0:
    leap_year=True
else:
    leap_year=False
    
m=int(input('Enter a Month [1-12]:-'))
if m in (1,3,5,7,8,10,12):
    month_length =31
elif m==2:
    if leap_year:
        month_length=29
    else:
        month_length=28
else:
    month_length=30

d=int(input('Enter a day [1-31]:-'))
if d<month_length:
    d+=1
else:
    d=1
    if m==12:
        m=1
        y+=1
    else:
        m+=1 
print('The next date is [yyyy-mm-dd] %d-%d-%d.' % (y,m,d))

Enter a Year:- 2023
Enter a Month [1-12]:- 12
Enter a day [1-31]:- 31

The next date is [yyyy-mm-dd] 2024-1-1.

In [443]:
x=input('Enter number using , seperated:-')
y=[int(i) for i in (x.split(' '))]
s=0
for j in y:
    s+=j
print('Sum of numbers:- ',s)
print('Average of numbers:- ',s/len(y))

Enter number using , seperated:- 15 16 12

Sum of numbers:-  43
Average of numbers:-  14.333333333333334

In [446]:
# Display a prompt asking the user to input integers to calculate their sum and average,
# specifying that entering 0 will exit the program
print("Input some integers to calculate their sum and average. Input 0 to exit.")

# Initialize variables for count, sum, and the first number to 1
count = 0
sum = 0.0
number = 1

# Iterate until the user inputs 0
while number != 0:
    # Prompt the user to input a number and convert it to an integer
    number = int(input(''))
    
    # Add the entered number to the sum
    sum = sum + number
    
    # Increment the count of entered numbers
    count += 1

# Check if no numbers were entered
if count == 0:
    print("Input some numbers")
else:
    # Calculate and display the average and sum of the entered numbers
    print("Average and Sum of the above numbers are: ", sum / (count-1), sum)

Input some integers to calculate their sum and average. Input 0 to exit.

 15
 16
 12
 0

Average and Sum of the above numbers are:  14.333333333333334 43.0

In [453]:
x=int(input('Inupt a number:-'))
y=1
while y<11:
    print(x,' x ',y,' = ',x*y)
    y+=1
######################################################################
print('.................................................................')
x=int(input('Inupt a number:-'))
for y in range(1,11):
    print(x,' x ',y,' = ',x*y)

Inupt a number:- 10

10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100
.................................................................

Inupt a number:- 20

20  x  1  =  20
20  x  2  =  40
20  x  3  =  60
20  x  4  =  80
20  x  5  =  100
20  x  6  =  120
20  x  7  =  140
20  x  8  =  160
20  x  9  =  180
20  x  10  =  200

In [456]:
for i in range(10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999