In [5]:
r= lambda a:a+15
print(r(10))
r=lambda x,y:x*y
print(r(12,4))

25
48

In [8]:
r=lambda x,y:x*y
print(r(15,2))
print(r(15,3))
print(r(15,4))
print(r(15,5))
##############################################################################
print('...........................................................................')
def func_compute(n):
    return lambda x: x * n
result = func_compute(2)
print("Double the number of 15 =", result(15))
result = func_compute(3)
print("Triple the number of 15 =", result(15))
result = func_compute(4)
print("Quadruple the number of 15 =", result(15))
result = func_compute(5)
print("Quintuple the number 15 =", result(15))

30
45
60
75
...........................................................................
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [12]:
x=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
x.sort(key=lambda x: x[1])
print(x)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [16]:
x=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
r=sorted(x,key=lambda x: x['color'])
print(r)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [23]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=list(filter(lambda x: x%2==0, x))
z=list(filter(lambda x: x%2==1,x))
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [31]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=list(map(lambda x: x**2,x))
z=list(map(lambda x: x**3,x))
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [32]:
x=lambda x: True if x.startswith('P') else False
print(x('Python'))
print(x('python'))

True
False

In [42]:
import datetime
now=datetime.datetime.now()
print(now)
year=lambda x:x.year
month=lambda x:x.month
day=lambda x:x.day
time=lambda x:x.time()
print(year(now))
print(month(now))
print(day(now))
print(time(now))

2023-12-12 17:40:16.050182
2023
12
12
17:40:16.050182

In [54]:
x= lambda x: True if x.isdigit() else False
print(x('22'))
print(x('26587'))
print(x('00'))
print(x('001'))
print('................................................................')
p=lambda x: x.replace('.','',1).isdigit()
print(p('A001'))
print(p('4.2365'))
print('................................................................')
z=lambda r: p(r[1:]) if r[0] == '-' else p(r)
print(z('-12547'))

True
True
True
True
................................................................
False
True
................................................................
True

In [57]:
from functools import reduce
fib_series=lambda n: reduce(lambda x, _: x + [x[-1]+x[-2]],range(n-2),[0,1])
print("Fibonacci series upto 2:")
print(fib_series(2))
print("Fibonacci series upto 5:")
print(fib_series(5))
print("Fibonacci series upto 6:")
print(fib_series(6))
print("Fibonacci series upto 9:")
print(fib_series(9))

Fibonacci series upto 2:
[0, 1]
Fibonacci series upto 5:
[0, 1, 1, 2, 3]
Fibonacci series upto 6:
[0, 1, 1, 2, 3, 5]
Fibonacci series upto 9:
[0, 1, 1, 2, 3, 5, 8, 13, 21]