In [5]:
r= lambda a:a+15
print(r(10))
r=lambda x,y:x*y
print(r(12,4))

25
48

In [8]:
r=lambda x,y:x*y
print(r(15,2))
print(r(15,3))
print(r(15,4))
print(r(15,5))
##############################################################################
print('...........................................................................')
def func_compute(n):
    return lambda x: x * n
result = func_compute(2)
print("Double the number of 15 =", result(15))
result = func_compute(3)
print("Triple the number of 15 =", result(15))
result = func_compute(4)
print("Quadruple the number of 15 =", result(15))
result = func_compute(5)
print("Quintuple the number 15 =", result(15))

30
45
60
75
...........................................................................
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [12]:
x=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
x.sort(key=lambda x: x[1])
print(x)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [16]:
x=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
r=sorted(x,key=lambda x: x['color'])
print(r)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [23]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=list(filter(lambda x: x%2==0, x))
z=list(filter(lambda x: x%2==1,x))
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [31]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=list(map(lambda x: x**2,x))
z=list(map(lambda x: x**3,x))
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [32]:
x=lambda x: True if x.startswith('P') else False
print(x('Python'))
print(x('python'))

True
False

In [42]:
import datetime
now=datetime.datetime.now()
print(now)
year=lambda x:x.year
month=lambda x:x.month
day=lambda x:x.day
time=lambda x:x.time()
print(year(now))
print(month(now))
print(day(now))
print(time(now))

2023-12-12 17:40:16.050182
2023
12
12
17:40:16.050182

In [54]:
x= lambda x: True if x.isdigit() else False
print(x('22'))
print(x('26587'))
print(x('00'))
print(x('001'))
print('................................................................')
p=lambda x: x.replace('.','',1).isdigit()
print(p('A001'))
print(p('4.2365'))
print('................................................................')
z=lambda r: p(r[1:]) if r[0] == '-' else p(r)
print(z('-12547'))

True
True
True
True
................................................................
False
True
................................................................
True

In [57]:
from functools import reduce
fib_series=lambda n: reduce(lambda x, _: x + [x[-1]+x[-2]],range(n-2),[0,1])
print("Fibonacci series upto 2:")
print(fib_series(2))
print("Fibonacci series upto 5:")
print(fib_series(5))
print("Fibonacci series upto 6:")
print(fib_series(6))
print("Fibonacci series upto 9:")
print(fib_series(9))

Fibonacci series upto 2:
[0, 1]
Fibonacci series upto 5:
[0, 1, 1, 2, 3]
Fibonacci series upto 6:
[0, 1, 1, 2, 3, 5]
Fibonacci series upto 9:
[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [23]:
x=[1, 2, 3, 5, 7, 8, 9, 10]
y=[1, 2, 4, 8, 9]
r=list(filter(lambda i:i in x,y))
print(r)
#############################################################
print('........................................................')
x=[1, 2, 3, 5, 7, 8, 9, 10]
y=[1, 2, 4, 8, 9]
def intersection(x,y):
    return list(sorted(set(x) & set(y)))
print(intersection(x,y))

[1, 2, 8, 9]
........................................................
[1, 2, 8, 9]

In [31]:
x=[-1, 2, -3, 5, 7, 8, 9, -10]
y=sorted(x,key=lambda i:0 if i==0 else -1/i)
print(y)

[2, 5, 7, 8, 9, -10, -3, -1]

In [50]:
x=[1, 2, 3, 5, 7, 8, 9, 10]
print('Number of even numbers in the above array:',len(list(filter(lambda i: i%2==0,x))))
print('Number of odd numbers in the above array:',len(list(filter(lambda i: i%2!=0,x))))

Number of even numbers in the above array: 3
Number of odd numbers in the above array: 5

In [59]:
x=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
r=(filter(lambda i: len(i)==6,x))
for j in r:
    print(j)

Monday
Friday
Sunday

In [64]:
x=[1, 2, 3]
y=[4, 5, 6]
z=list(map(lambda i,j : i+j,x,y))
print('Result: after adding two list:\n',z,sep='')

Result: after adding two list:
[5, 7, 9]

In [81]:
x=int(input('Input number of students:'))
p=[]
for _ in range(x):
    y=input('Name: ')
    z=int(input('Grade: '))
    p.append([y,z])
q=sorted(p,key=lambda i: i[1])
print('Names and Grades of all students:\n',p,sep='')
print('Second lowest grade:',q[1][1])
print('Names:',q[1][0])

Input number of students: 5
Name:  PAWAN YADAV
Grade:  2
Name:  PANKAJ YADAV
Grade:  5
Name:  AMIT
Grade:  4
Name:  ANIL
Grade:  1
Name:  RAVI
Grade:  3

Names and Grades of all students:
[['PAWAN YADAV', 2], ['PANKAJ YADAV', 5], ['AMIT', 4], ['ANIL', 1], ['RAVI', 3]]
Second lowest grade: 2
Names: PAWAN YADAV

In [88]:
x=[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
y=list(filter(lambda i: i%13==0 or i%19==0,x))
print(x,'\nNumbers of the above list divisible by nineteen or thirteen:\n',y,sep='')

[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
Numbers of the above list divisible by nineteen or thirteen:
[19, 65, 57, 39, 152, 190]

In [91]:
x=['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']
y=list(filter(lambda i: (i== ''.join(reversed(i))),x))
print('List of palindromes:\n',y,sep='')

List of palindromes:
['php', 'aaa']

In [104]:
from collections import Counter
x=['bcda', 'abce', 'cbda', 'cbea', 'adcb']
str='abcd'
y=list(filter(lambda i: (Counter(str) == Counter(i)), x))
print(x,"\nAnagrams of 'abcd' in the above string:\n",y,sep='')

['bcda', 'abce', 'cbda', 'cbea', 'adcb']
Anagrams of 'abcd' in the above string:
['bcda', 'cbda', 'adcb']

In [117]:
x='sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5'
y=[i for i in x.split(' ')]
l=len(y)
n=sorted([int(j) for j in y if j.isdigit()])
print(n)
print('Numbers in sorted form:')
for q in (filter(lambda p: p>l,n)):
    print(q,end=' ')

[5, 5, 20, 23, 56]
Numbers in sorted form:
20 23 56

In [1]:
x=[2, 4, 6, 9, 11]
z=int(input())
y=list(map(lambda i: i*z,x))
print(' '.join(map(str,y)))

 2

4 8 12 18 22

In [12]:
x=['sally', 'Dylan', 'rebecca', 'Diana', 'Joanne', 'keith']
y=list(filter(lambda i: i[0].isupper() and i[1:].islower(),x))
print(y,'=',len(''.join(y)))

['Dylan', 'Diana', 'Joanne'] = 16

In [36]:
x=[2, 4, -6, -9, 11, -12, 14, -5, 17]
y=list(filter(lambda i: i>0,x))
z=list(filter(lambda i: i<0,x))
print('Original list:',x,'\nSum of the positive numbers:',y,'=',sum(y))
print('Sum of the negative numbers:',z,'=',sum(z))

Original list: [2, 4, -6, -9, 11, -12, 14, -5, 17]
Sum of the positive numbers: [2, 4, 11, 14, 17] = 48
Sum of the negative numbers: [-6, -9, -12, -5] = -32

In [37]:
def divisible_by_digit(x,y):
    return [i for i in range(x,y+1) if not any(map(lambda j: int(j)==0 or i%int(j)!=0,str(i)))]
print(divisible_by_digit(1,22))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22]

In [45]:
def rearrange_bigger(n):
    n=list(str(n))
    for i in range(len(n)-2,-1,-1):
        if n[i]<n[i+1]:
            z=n[i:]
            y=min(filter(lambda x:x>z[0],z))
            z.remove(y)
            z.sort()
            n[i:]=[y]+z
            return int(''.join(n))
    return False
n = 12
print("Original number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 10
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 201
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 102
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 445
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

Original number: 12
2
Next bigger number: 21

Original number: 10
2
Next bigger number: False

Original number: 201
3
Next bigger number: 210

Original number: 102
3
Next bigger number: 120

Original number: 445
3
Next bigger number: 454

In [59]:
x=[[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
y=max(list(filter(lambda i: (i),x)))
z=min(list(filter(lambda i: (i),x)))
print('List with maximum length of lists:\n',(len(y),y),sep='')
print('List with minimum length of lists:\n',(len(z),z),sep='')

List with maximum length of lists:
(3, [13, 15, 17])
List with minimum length of lists:
(1, [0])