In [146]:
r= lambda a:a+15
print(r(10))
r=lambda x,y:x*y
print(r(12,4))

25
48

In [147]:
r=lambda x,y:x*y
print(r(15,2))
print(r(15,3))
print(r(15,4))
print(r(15,5))
##############################################################################
print('...........................................................................')
def func_compute(n):
    return lambda x: x * n
result = func_compute(2)
print("Double the number of 15 =", result(15))
result = func_compute(3)
print("Triple the number of 15 =", result(15))
result = func_compute(4)
print("Quadruple the number of 15 =", result(15))
result = func_compute(5)
print("Quintuple the number 15 =", result(15))

30
45
60
75
...........................................................................
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [12]:
x=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
x.sort(key=lambda x: x[1])
print(x)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [16]:
x=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
r=sorted(x,key=lambda x: x['color'])
print(r)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [23]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=list(filter(lambda x: x%2==0, x))
z=list(filter(lambda x: x%2==1,x))
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [31]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=list(map(lambda x: x**2,x))
z=list(map(lambda x: x**3,x))
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [32]:
x=lambda x: True if x.startswith('P') else False
print(x('Python'))
print(x('python'))

True
False

In [42]:
import datetime
now=datetime.datetime.now()
print(now)
year=lambda x:x.year
month=lambda x:x.month
day=lambda x:x.day
time=lambda x:x.time()
print(year(now))
print(month(now))
print(day(now))
print(time(now))

2023-12-12 17:40:16.050182
2023
12
12
17:40:16.050182

In [54]:
x= lambda x: True if x.isdigit() else False
print(x('22'))
print(x('26587'))
print(x('00'))
print(x('001'))
print('................................................................')
p=lambda x: x.replace('.','',1).isdigit()
print(p('A001'))
print(p('4.2365'))
print('................................................................')
z=lambda r: p(r[1:]) if r[0] == '-' else p(r)
print(z('-12547'))

True
True
True
True
................................................................
False
True
................................................................
True

In [57]:
from functools import reduce
fib_series=lambda n: reduce(lambda x, _: x + [x[-1]+x[-2]],range(n-2),[0,1])
print("Fibonacci series upto 2:")
print(fib_series(2))
print("Fibonacci series upto 5:")
print(fib_series(5))
print("Fibonacci series upto 6:")
print(fib_series(6))
print("Fibonacci series upto 9:")
print(fib_series(9))

Fibonacci series upto 2:
[0, 1]
Fibonacci series upto 5:
[0, 1, 1, 2, 3]
Fibonacci series upto 6:
[0, 1, 1, 2, 3, 5]
Fibonacci series upto 9:
[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [23]:
x=[1, 2, 3, 5, 7, 8, 9, 10]
y=[1, 2, 4, 8, 9]
r=list(filter(lambda i:i in x,y))
print(r)
#############################################################
print('........................................................')
x=[1, 2, 3, 5, 7, 8, 9, 10]
y=[1, 2, 4, 8, 9]
def intersection(x,y):
    return list(sorted(set(x) & set(y)))
print(intersection(x,y))

[1, 2, 8, 9]
........................................................
[1, 2, 8, 9]

In [31]:
x=[-1, 2, -3, 5, 7, 8, 9, -10]
y=sorted(x,key=lambda i:0 if i==0 else -1/i)
print(y)

[2, 5, 7, 8, 9, -10, -3, -1]

In [50]:
x=[1, 2, 3, 5, 7, 8, 9, 10]
print('Number of even numbers in the above array:',len(list(filter(lambda i: i%2==0,x))))
print('Number of odd numbers in the above array:',len(list(filter(lambda i: i%2!=0,x))))

Number of even numbers in the above array: 3
Number of odd numbers in the above array: 5

In [59]:
x=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
r=(filter(lambda i: len(i)==6,x))
for j in r:
    print(j)

Monday
Friday
Sunday

In [64]:
x=[1, 2, 3]
y=[4, 5, 6]
z=list(map(lambda i,j : i+j,x,y))
print('Result: after adding two list:\n',z,sep='')

Result: after adding two list:
[5, 7, 9]

In [81]:
x=int(input('Input number of students:'))
p=[]
for _ in range(x):
    y=input('Name: ')
    z=int(input('Grade: '))
    p.append([y,z])
q=sorted(p,key=lambda i: i[1])
print('Names and Grades of all students:\n',p,sep='')
print('Second lowest grade:',q[1][1])
print('Names:',q[1][0])

Input number of students: 5
Name:  PAWAN YADAV
Grade:  2
Name:  PANKAJ YADAV
Grade:  5
Name:  AMIT
Grade:  4
Name:  ANIL
Grade:  1
Name:  RAVI
Grade:  3

Names and Grades of all students:
[['PAWAN YADAV', 2], ['PANKAJ YADAV', 5], ['AMIT', 4], ['ANIL', 1], ['RAVI', 3]]
Second lowest grade: 2
Names: PAWAN YADAV

In [88]:
x=[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
y=list(filter(lambda i: i%13==0 or i%19==0,x))
print(x,'\nNumbers of the above list divisible by nineteen or thirteen:\n',y,sep='')

[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
Numbers of the above list divisible by nineteen or thirteen:
[19, 65, 57, 39, 152, 190]

In [91]:
x=['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']
y=list(filter(lambda i: (i== ''.join(reversed(i))),x))
print('List of palindromes:\n',y,sep='')

List of palindromes:
['php', 'aaa']

In [104]:
from collections import Counter
x=['bcda', 'abce', 'cbda', 'cbea', 'adcb']
str='abcd'
y=list(filter(lambda i: (Counter(str) == Counter(i)), x))
print(x,"\nAnagrams of 'abcd' in the above string:\n",y,sep='')

['bcda', 'abce', 'cbda', 'cbea', 'adcb']
Anagrams of 'abcd' in the above string:
['bcda', 'cbda', 'adcb']

In [117]:
x='sdf 23 safs8 5 sdfsd8 sdfs 56 21sfs 20 5'
y=[i for i in x.split(' ')]
l=len(y)
n=sorted([int(j) for j in y if j.isdigit()])
print(n)
print('Numbers in sorted form:')
for q in (filter(lambda p: p>l,n)):
    print(q,end=' ')

[5, 5, 20, 23, 56]
Numbers in sorted form:
20 23 56

In [1]:
x=[2, 4, 6, 9, 11]
z=int(input())
y=list(map(lambda i: i*z,x))
print(' '.join(map(str,y)))

 2

4 8 12 18 22

In [12]:
x=['sally', 'Dylan', 'rebecca', 'Diana', 'Joanne', 'keith']
y=list(filter(lambda i: i[0].isupper() and i[1:].islower(),x))
print(y,'=',len(''.join(y)))

['Dylan', 'Diana', 'Joanne'] = 16

In [36]:
x=[2, 4, -6, -9, 11, -12, 14, -5, 17]
y=list(filter(lambda i: i>0,x))
z=list(filter(lambda i: i<0,x))
print('Original list:',x,'\nSum of the positive numbers:',y,'=',sum(y))
print('Sum of the negative numbers:',z,'=',sum(z))

Original list: [2, 4, -6, -9, 11, -12, 14, -5, 17]
Sum of the positive numbers: [2, 4, 11, 14, 17] = 48
Sum of the negative numbers: [-6, -9, -12, -5] = -32

In [37]:
def divisible_by_digit(x,y):
    return [i for i in range(x,y+1) if not any(map(lambda j: int(j)==0 or i%int(j)!=0,str(i)))]
print(divisible_by_digit(1,22))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 22]

In [45]:
def rearrange_bigger(n):
    n=list(str(n))
    for i in range(len(n)-2,-1,-1):
        if n[i]<n[i+1]:
            z=n[i:]
            y=min(filter(lambda x:x>z[0],z))
            z.remove(y)
            z.sort()
            n[i:]=[y]+z
            return int(''.join(n))
    return False
n = 12
print("Original number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 10
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 201
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 102
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

n = 445
print("\nOriginal number:", n)
print("Next bigger number:", rearrange_bigger(n))

Original number: 12
2
Next bigger number: 21

Original number: 10
2
Next bigger number: False

Original number: 201
3
Next bigger number: 210

Original number: 102
3
Next bigger number: 120

Original number: 445
3
Next bigger number: 454

In [59]:
x=[[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
y=max(list(filter(lambda i: (i),x)))
z=min(list(filter(lambda i: (i),x)))
print('List with maximum length of lists:\n',(len(y),y),sep='')
print('List with minimum length of lists:\n',(len(z),z),sep='')

List with maximum length of lists:
(3, [13, 15, 17])
List with minimum length of lists:
(1, [0])

In [12]:
x=[['green', 'orange'], ['black', 'white'], ['white', 'black', 'orange']]
y=[sorted(i,key=lambda i: i[0]) for i in x]
print('After sorting each sublist of the said list of lists:\n',y,sep='')

After sorting each sublist of the said list of lists:
[['green', 'orange'], ['black', 'white'], ['black', 'orange', 'white']]

In [19]:
x=[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]
x.sort()
y=sorted(x,key=lambda i: len(i))
print('Sort the list of lists by length and value:\n',y,sep='')

Sort the list of lists by length and value:
[[0], [2], [0, 7], [1, 3], [9, 11], [13, 15, 17]]

In [29]:
x=['Python', 3, 2, 4, 5, 'version']
y=max(x,key=lambda i: (isinstance(i,int),i))
print("Original list:")
print(x)
print("\nMaximum values in the said list using lambda:")
print(y)

Original list:
['Python', 3, 2, 4, 5, 'version']

Maximum values in the said list using lambda:
5

In [8]:
x=[[1, 2, 3], [2, 4, 5], [1, 1, 1]]
y=sorted(x,key=(lambda i: sum(i)))
print('Sort the said matrix in ascending order according to the sum of its rows:\n',y,sep='')
x=[[1, 2, 3], [-2, 4, -5], [1, -1, 1]]
y=sorted(x,key=(lambda i: sum(i)))
print('\nSort the said matrix in ascending order according to the sum of its rows:\n',y,sep='')

Sort the said matrix in ascending order according to the sum of its rows:
[[1, 1, 1], [1, 2, 3], [2, 4, 5]]

Sort the said matrix in ascending order according to the sum of its rows:
[[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

In [18]:
x=['Python', 'list', 'exercises', 'practice', 'solution']
y=int(input('length of the string to extract:'))
z=list(filter(lambda i: len(i)==y,x))
print('After extracting strings of specified length from the said list:\n',z,sep='')

length of the string to extract: 8

After extracting strings of specified length from the said list:
['practice', 'solution']

In [21]:
x=[1, 'abcd', 3.12, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]
y=list(filter(lambda i: isinstance(i,float),x))
print('Number of floats in the said mixed list:\n',len(y),sep='')

Number of floats in the said mixed list:
3

In [29]:
x=input('Input a String:')
y=int(input('Minimum length:'))
z=[
    lambda x: any(i.isupper() for i in x),
    lambda x: any(i.islower() for i in x),
    lambda x: any(i.isdigit() for i in x),
    lambda x: len(x)==y]
r=[j for j in [k(x) for k in z] if j != True]
if not r:
    r.append('Valid String')
print(r)

Input a String: Pawan@22
Minimum length: 8

['Valid String']

In [4]:
x={'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
y=dict(filter(lambda i: (i[1][0], i[1][1])> (6.0,70),x.items()))
print("Original Dictionary:")
print(x)
print("\nHeight > 6ft and Weight > 70kg:")
print(y)

Original Dictionary:
{'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height > 6ft and Weight > 70kg:
{'Cierra Vega': (6.2, 70)}

In [14]:
x=[1, 2, 4, 6, 8, 10, 12, 14, 16, 17]
key=(lambda i:i)
def is_sort_list(x,key):
    for i , e in enumerate(x[1:]):
        if key(e) < key(x[i]):
            return (False)
    return (True)  
y=[2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2]
print('Is the said list is sorted!\n',is_sort_list(x,key),sep='')
print('\nIs the said list is sorted!\n',is_sort_list(y,key),sep='')

Is the said list is sorted!
True

Is the said list is sorted!
False

In [38]:
x=[('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
y=int(input('Input nth element you want to be extract:'))
z=list(map(lambda i: i[y],x))
print('Extract nth element ( n = ', y ,' )',' from the said list of tuples:\n',z,sep='')
y=int(input('Input nth element you want to be extract:'))
z=list(map(lambda i: i[y],x))
print('Extract nth element ( n = ', y ,' )',' from the said list of tuples:\n',z,sep='')

Input nth element you want to be extract: 0

Extract nth element ( n = 0 ) from the said list of tuples:
['Greyson Fulton', 'Brady Kent', 'Wyatt Knott', 'Beau Turnbull']

Input nth element you want to be extract: 2

Extract nth element ( n = 2 ) from the said list of tuples:
[99, 96, 94, 98]

In [155]:
x=[('Greyson Fulton', 98, 99), ('Brady Kent', 97, 96), ('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98)]
y=int(input('Input nth element you want to be extract:'))
z=sorted(x,key=lambda i: i[y])
print('Extract nth element ( n = ', y ,' )',' from the said list of tuples:\n',z,sep='')
y=int(input('Input nth element you want to be extract:'))
z=sorted(x,key=lambda i: i[y])
print('Extract nth element ( n = ', y ,' )',' from the said list of tuples:\n',z,sep='')

Input nth element you want to be extract: 1

Extract nth element ( n = 1 ) from the said list of tuples:
[('Wyatt Knott', 91, 94), ('Beau Turnbull', 94, 98), ('Brady Kent', 97, 96), ('Greyson Fulton', 98, 99)]

Input nth element you want to be extract: 0

Extract nth element ( n = 0 ) from the said list of tuples:
[('Beau Turnbull', 94, 98), ('Brady Kent', 97, 96), ('Greyson Fulton', 98, 99), ('Wyatt Knott', 91, 94)]

In [153]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2=[2, 4, 6, 8]
list3=list(filter(lambda i: i not in list2,list1))
print('Remove all elements from list1 present in list2:\n',list3,sep='')

Remove all elements from list1 present in list2:
[1, 3, 5, 7, 9, 10]

In [51]:
x=['red', 'black', 'white', 'green', 'orange']
y=input('Input Substrings:')
z=list(filter(lambda i: y in i,x))
print('Elements of the said list that contain specific substring:\n',z,sep='')
y=input('\nInput Substrings:')
z=list(filter(lambda i: y in i,x))
print('Elements of the said list that contain specific substring:\n',z,sep='')

Input Substrings: ack

Elements of the said list that contain specific substring:
['black']

Input Substrings: abc

Elements of the said list that contain specific substring:
[]

In [56]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
y=[[12, 18, 23, 25, 45], [7, 11, 19, 24, 28], [1, 5, 8, 18, 15, 16]]
z=[list(filter(lambda i: i in x, j)) for j in y]
print('Intersection of said nested lists:\n',z,sep='')

Intersection of said nested lists:
[[12], [7, 11], [1, 5, 8]]

In [64]:
x=['Red', 'Green', 'Blue', 'White', 'Black']
y=list(map(lambda i: i[::-1],x))
print('Reverse strings of the said given list:\n',y,sep='')
###################################################################
print('\n...........................................................')
result = list(map(lambda i: "".join(reversed(i)), x))
print('\nReverse strings of the said given list:\n',result,sep='')

Reverse strings of the said given list:
['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

...........................................................

Reverse strings of the said given list:
['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [72]:
from functools import reduce
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=reduce(lambda i,j: i*j,list1)
print('Product of the said list numbers:\n',y,sep='')
list2=[2.2, 4.12, 6.6, 8.1, 8.3]
y=reduce(lambda i,j: i*j,list2)
print('\nProduct of the said list numbers:\n',y,sep='')

Product of the said list numbers:
3628800

Product of the said list numbers:
4021.8599520000007

In [71]:
from functools import reduce
x=[4, 3, 2, 2, -1, 18]
y=reduce(lambda i,j: i*j,x)
print('Multiply all the numbers of the said list:',y)
x=[2, 4, 8, 8, 3, 2, 9]
y=reduce(lambda i,j: i*j,x)
print('\nMultiply all the numbers of the said list:',y)

Multiply all the numbers of the said list: -864

Multiply all the numbers of the said list: 27648

In [86]:
x=((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
y=tuple(map(lambda i: sum(i)/len(i),zip(*x)))
print('Average value of the numbers of the said tuple of tuples:\n',y,sep='')
x=((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))
y=tuple(map(lambda i: sum(i)/len(i),zip(*x)))
print('\nAverage value of the numbers of the said tuple of tuples:\n',y,sep='')

Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

Average value of the numbers of the said tuple of tuples:
(25.5, -18.0, 3.75)

In [92]:
x=(('233', 'ABCD', '33'), ('1416', 'EFGH', '55'), ('2345', 'WERT', '34'))
y=tuple(map(lambda i: (int(i[0]),int(i[2])),x))
print('New tuple values:\n',y,sep='')

New tuple values:
((233, 33), (1416, 55), (2345, 34))

In [101]:
x=[12, 33, 23, 10.11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54]
y=max(enumerate(x),key=(lambda i: i[1]))
print('Index position and value of the maximum value of the said list:\n',y,sep='')
y=min(enumerate(x),key=(lambda i: i[1]))
print('\nIndex position and value of the maximum value of the said list:\n',y,sep='')

Index position and value of the maximum value of the said list:
(5, 89)

Index position and value of the maximum value of the said list:
(3, 10.11)

In [116]:
x=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
x.sort(key= lambda i: (isinstance(i,str),i))
x

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [123]:
x=['4', '12', '45', '7', '0', '100', '200', '-12', '-500']
y=sorted(x,key=lambda i: int(i))
print('Sort the said list of strings(numbers) numerically:\n',y,sep='')

Sort the said list of strings(numbers) numerically:
['-500', '-12', '0', '4', '7', '12', '45', '100', '200']

In [125]:
x=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
y=dict(map(lambda i: (i, list(x).count(i)),x))
print('Count the occurrences of the items in the said list:\n',y,sep='')

Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [130]:
x=['orange', 'red', 'green', 'blue', 'white', 'black']
y=['orange', 'black']
z=list(filter(lambda i: i not in y,x))
print('After removing the specified words from the said list:\n',z,sep='')

After removing the specified words from the said list:
['red', 'green', 'blue', 'white']

In [136]:
x=[('V', 62), ('VI', 68), ('VII', 72), ('VIII', 70), ('IX', 74), ('X', 65)]
y=(max(map(lambda i: i[1], x)),min(map(lambda i: i[1], x)))
print("Maximum and minimum values of the said list of tuples:\n",y,sep='')

Maximum and minimum values of the said list of tuples:
(74, 62)

In [145]:
x=[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
y=list(filter(lambda i: i is not None,x))
print('Remove None value from the said list:\n',y,sep='')

Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]