In [1]:
x=(1,2,3,4,5,6,7,8)
print(x)
r=map(lambda i:i+i+i,x)
print(list(r))

(1, 2, 3, 4, 5, 6, 7, 8)
[3, 6, 9, 12, 15, 18, 21, 24]

In [8]:
x=[1,2,3,4,5,6]
y=[7,8,9,10,11,12]
z=[12,13,14,15,16,17]
r=map(lambda i,j,k: i+j+k ,x,y,z)
print(list(r))

[20, 23, 26, 29, 32, 35]

In [9]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink'] 
r=list(map(list,color))
print(r)

[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

In [11]:
bases_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
r=list(map(pow,bases_num,index))
print(r)

[10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 100000000000000000000]

In [15]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
r=list(map(lambda i: i**2,x))
print(r)
######################################################
print('..................................................')
def square_num(n):
    return n * n
nums = [4, 5, 2, 9]
print("Original List: ",nums)
result = map(square_num, nums)
print("Square the elements of the said list using map():")
print(list(result))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
..................................................
Original List:  [4, 5, 2, 9]
Square the elements of the said list using map():
[16, 25, 4, 81]

In [20]:
def change_cases(s):
    return str(s).upper(),str(s).lower()
chars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
print("Original Characters:\n",chrars,sep='')
r=map(change_cases, chars)
print('\n',set(r),sep='')

Original Characters:
{'a', 'E', 'U', 'o', 'i', 'f', 'b'}

{('A', 'a'), ('F', 'f'), ('I', 'i'), ('O', 'o'), ('E', 'e'), ('U', 'u'), ('B', 'b')}

In [22]:
def addition_subtraction(x,y):
    return x+y, x-y

x=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
y=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
r=map(addition_subtraction, x,y)
print(list(r))

[(11, 9), (22, 18), (33, 27), (44, 36), (55, 45), (66, 54), (77, 63), (88, 72), (99, 81), (110, 90)]

In [23]:
x=[1,2,3,4,5,6]
y=(1,2,3,4,5,6)
r=list(map(str,x))
p=tuple(map(str,y))
print(r)
print(p)

['1', '2', '3', '4', '5', '6']
('1', '2', '3', '4', '5', '6')

In [28]:
x=('1', '2', '3', '4', '5', '6')
r=list(map(int,x))
print(r)
##############################################
print('.......................................')
y=[('Alberto Franco','15/05/2002','35kg'), ('Gino Mcneill','17/05/2002','37kg'), ('Ryan Parkes','16/02/1999', '39kg'), ('Eesha Hinton','25/09/1998', '35kg')]
p=list(map(lambda i:i[0], y))
q=list(map(lambda i:i[1], y))
n=list(map(lambda i:i[2], y))
print(p)
print(q)
print(n)

[1, 2, 3, 4, 5, 6]
.......................................
['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
['35kg', '37kg', '39kg', '35kg']

In [34]:
#Important 
import itertools
n=10
def fibonacci_num(x=0,y=1):
    yield x
    while True:
        yield y
        x,y=y,x+y
print("First 10 Fibonacci numbers:")
r=list(itertools.islice(fibonacci_num(),n))
print(r)
s=lambda x:x*x
print(list(map(s,r)))

First 10 Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]

In [38]:
from array import array
def array_sum(num_array):
    sum_n=0
    for n in num_array:
        sum_n+=n
    return sum_n
nums=array('i',[1,2,3,4,5,-15])
print("Original array:",nums)
nums_array = list(map(int, nums))
result = array_sum(nums_array)
print("Sum of all elements of the said array:")
print(result)

Original array: array('i', [1, 2, 3, 4, 5, -15])
Sum of all elements of the said array:
0

In [44]:
from array import array
def plusminus(n):
    x=len(n)
    x1=x2=x3=0
    for i in n:
        if i>0:
            x1+=1
        elif x<0:
            x2+=1
        else:
            x3+=1
    return round(x1/x,2),round(x2/x,2),round(x3/x,2)
n= array('i', [0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8])
print("Original array:",n)
nums_arr = list(map(int, n))
result = plusminus(nums_arr)
print("Ratio of positive numbers, negative numbers and zeroes:")
print(result)
nums = array('i', [2, 1, 2, -1, -5, 6, 4, -3, -2, 3, 4, 6, 8])
print("\nOriginal array:",n)
nums_arr = list(map(int, n))
result = plusminus(nums_arr)
print("Ratio of positive numbers, negative numbers and zeroes:")
print(result)

Original array: array('i', [0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8])
Ratio of positive numbers, negative numbers and zeroes:
(0.54, 0.0, 0.46)

Original array: array('i', [0, 1, 2, -1, -5, 6, 0, -3, -2, 3, 4, 6, 8])
Ratio of positive numbers, negative numbers and zeroes:
(0.54, 0.0, 0.46)

In [47]:
from operator import eq
def count_same_pair(x,y):
    r=sum(map(eq,x,y))
    return r
x=[1,2,3,4,5,6]
y=[1,2,5,6,4,6]
print("Original lists:")
print(x)
print(y)
print("\nNumber of same pair of the said two given lists:")
print(count_same_pair(x,y))

Original lists:
[1, 2, 3, 4, 5, 6]
[1, 2, 5, 6, 4, 6]

Number of same pair of the said two given lists:
3

In [51]:
import random
def randomly_interleave(x,y):
    r=list(map(next,random.sample([iter(x)]*len(x)+[iter(y)]*len(y),len(x)+len(y))))
    return r
x = [1,2,7,8,3,7]
y = [4,3,8,9,4,3,8,9]
print("Original lists:") 
print(x)
print(y)
print("\nInterleave two given list into another list randomly:")
print(randomly_interleave(x,y))

Original lists:
[1, 2, 7, 8, 3, 7]
[4, 3, 8, 9, 4, 3, 8, 9]

Interleave two given list into another list randomly:
[1, 2, 4, 7, 3, 8, 9, 4, 8, 3, 3, 7, 8, 9]

In [55]:
def list_of_string_to_list(x):
    r=map(list,x)
    return list(r)
x = ["Red", "Green", "Black", "Orange"]
print('Original list of strings:')
print(x)
print("\nConvert the said list of strings into list of lists:")
print(list_of_string_to_list(x))

Original list of strings:
['Red', 'Green', 'Black', 'Orange']

Convert the said list of strings into list of lists:
[['R', 'e', 'd'], ['G', 'r', 'e', 'e', 'n'], ['B', 'l', 'a', 'c', 'k'], ['O', 'r', 'a', 'n', 'g', 'e']]

In [58]:
def list_of_tuple_to_string(x):
    r=map(' '.join,x)
    return list(r)
x=[('red', 'pink'), ('white', 'black'), ('orange', 'green')]
print(list_of_tuple_to_string(x))
x=[('Sheridan','Gentry'), ('Laila','Mckee'), ('Ahsan','Rivas'), ('Conna','Gonzalez')]
print(list_of_tuple_to_string(x))

['red pink', 'white black', 'orange green']
['Sheridan Gentry', 'Laila Mckee', 'Ahsan Rivas', 'Conna Gonzalez']